@charset "utf-8";
/* CSS Document */
ul,li,h1,h2,h3,p{ padding:0; margin:0; list-style:none}
a{ text-decoration:none; color:#000}
img{ max-width:100%}
body{ background:#fff; margin:0 auto; line-height:21px}
.clear{ clear:both}
.clearfix:after{ content:''; display:block; clear:both}
.contain{ width:1200px; margin:0 auto}
.menu li{ list-style:none}
.logo{  width:250px; float:left; margin-top:10px;}
.banner{ position:relative;  height:600px; text-align:center; color:#fff; background:url(../images/banner.jpg) no-repeat center }
.banner .contain{ display:table; height:600px}
.banner .contain h1{ font-size:60px;}
.banner div div{ display:table-cell; vertical-align:middle}
.banner img{ display:block}
.banner .btn{ background:#fff; display:inline-block; padding:10px 30px; font-size:18px; margin-top:50px; color:#555;}
.banner .btn:hover{ color:#fff; background:#009999;}
.head{box-shadow: 0px 0px 15px rgba(0,0,0,0.2) ; position:relative; z-index:5; background:#fff}

.menu{ text-align:center; float:right;}
.menu li a{ padding:10px 20px; font-size:15px;color:#000}
.menu li {  float:left; padding:30px 0;}
.menu li a:hover{ color:#009999}


.right{ float:right; width:320px; padding:20px;padding-top:50px;}
.left{ float:left; width:600px; line-height:30px; padding:20px; padding-top:80px;}
.left h2{ font-size:40px; font-weight:normal; line-height:40px; font-family:"Times New Roman", Times, serif; color:#006699}
.left h3{ font-size:30px; font-weight:normal; line-height:40px; font-family:"Times New Roman", Times, serif; color:#FF9C00}
.left .btn{    background-color: rgba(250, 54, 100, 1); color:#fff; display:inline-block; padding:5px 20px; font-size:16px; margin-top:20px}
.content{ background:#fff ;  font-size:14px; display:inline-block ; padding-bottom:30px; width:100%}
.left  p{ padding-top:20px}

.contact{ background:url(../images/texture.png); margin-top:30px; height:300px; width:100%; text-align:center  }
.contact  .contain{ display:table; height:300px}
.contact  .contain div{ color:#fff; display:table-cell; vertical-align:middle}
.contact  .contain div a{ background-color: rgba(253, 165, 31, 1); color:#000; display:inline-block; font-size:18px; padding:5px 20px; border:#000 solid 2px;}
.contact  .contain div h2{ font-weight:normal; color:#000; font-size:30px;}
.contact  .contain div p{ font-size:18px; padding:20px 0;}
.contact  .contain div a:hover{ background:#CC6633}

footer { margin-top:50px}
footer .end{background:url(../images/footer-green.png) repeat-x; height:40px }
footer .foot{ margin-top:0px; clear:both; background:#338727; color:#fff; padding:30px 0; text-align:center;}

.scrollleft{ margin:0 0}
.scrollleft li{ float:left; width:30.3%; margin:10px 1.4%}
.scrollleft ul{ display:flex}
.scrollleft li div{ padding:0 20px}
.scrollleft li:nth-child(1){ border:rgba(134, 196, 23, 1) solid 1px;}
.scrollleft li:nth-child(2){ border:rgba(250, 54, 100, 1) solid 1px;}
.scrollleft li:nth-child(3){ border:rgba(116, 110, 203, 1) solid 1px;}
.scrollleft li:nth-child(1) .btn{ background:rgba(134, 196, 23, 1)}
.scrollleft li:nth-child(2) .btn{ background:rgba(250, 54, 100, 1) }
.scrollleft li:nth-child(3) .btn{ background:rgba(116, 110, 203, 1);}
.scrollleft li img{ width:100%; height:210px}
.scrollleft li h2{ font-weight:normal; padding:20px 0;}
.scrollleft .btn{ background-color: rgba(250, 54, 100, 1); margin-top:30px; color:#fff; display:inline-block; padding:5px 15px}

.inbanner{ background:url(../images/texture-yellow.png);height:200px; width:100%; text-align:center  }
.inbanner  .contain{ display:table; height:200px}
.inbanner  .contain div{
	color: #FFF;
	display: table-cell;
	vertical-align: middle
}
.imgc{ width:37%; margin-left:100px; margin-right:50px}

.title{ text-align:center; color:#F00; padding:10px}
.fl{ float:left}
.msg>div{ padding:10px; margin-bottom:10px}
.msg>div .input{ border:none; width:100%; padding:10px 0; border-bottom:#0BB3A3 solid 1px; outline:none}
.msg>div:nth-child(1) .input{border-bottom:#0BB3A3 solid 1px;}
.msg>div:nth-child(2) .input{border-bottom:rgba(253, 165, 31, 1) solid 1px;}
.msg>div:nth-child(3) .input{border-bottom:rgba(134, 196, 23, 1) solid 1px;}
.msg>div .submit{ background:#117a8b; border:none; padding:10px 20px; color:#fff}
.msg>div span{ width:150px}
.msg{ float:left; width:480px;}
.list li{ height:250px; background:#eee; margin:20px 0}
.list img{ width:400px; float:left; height:250px}
.list li:nth-child(2n) img{ float:right}
.list li .btn{background:#399; color:#fff; display:inline-block; padding:5px 15px; margin-top:40px}
.list div{ float:right; width:750px}
.list div h2{ font-weight:normal; padding:30px 0; font-size:24px;}

.bar{ margin:20px; clear:both;  color:#003366;  text-align:center; font-size:24px;padding:30px}
.bar span{ color:#0BB3A3}
.bar  p{ font-size:14px; color:#999; margin-top:20px}
